**AUTOLIB CAR SHARING USAGE**

# 1.0 Importing Libraries

In [268]:
# Importing pandas 
import pandas as pd

# Importing numpy
import numpy as np

# importing datetime
import datetime

# 1.0.1 Loading *Data*

In [269]:
# Load our dataset into the environment
data =pd.read_csv('http://bit.ly/autolib_dataset', encoding = 'latin1')

In [270]:
# Reading the first 5 rows
data.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3          51 Rue EugÃÂ¨ne OudinÃÂ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

1.1.1 Data Mining

In [271]:
# Accessing information in the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# 2.0 Data Cleaning

# 2.1 *Completeness*

In [272]:
# Checking for completeness of data
# check for missing values across all columns in the dataset
missing_values = data.isnull().any()
print(missing_values)

# counting the number of missing values in the dataset in the columns
count_missing = data.isnull().sum()
print(count_missing)

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool
Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# 2.2 *Consistency*

In [273]:
# checking for Consistency of data
# 
# check for any duplicates in the dataset
duplicates = data.duplicated().any()
print(duplicates)

False

# 2.3 *Validity*

In [274]:
# Checking for Validity of data
# Drop irrelevant columns
# Drop Displayed comment and Scheduled at columns since they also have alot of missing values
d1 = data.drop(['Cars','Displayed comment', 'Scheduled at','Charge Slots', 'Charging Status', 'ID','Kind'], axis=1)
# The remaining rows and columns
d1.shape

(5000, 18)

In [275]:
# # Create a Date column  by merging year, month and day columns
# # convert the dataype from int64 to str
# d1[['year', 'month', 'day']] = d1[['year', 'month', 'day']].astype(str)
# # Intro a new column(Date) 
# d1['Date'] = d1['year'] + '-' + d1['month'] + '-' + d1['day']
# # change the new column to datetime
# d1['Date'] = pd.to_datetime(d1['Date'])
# # drop the columns since they will not be used anymore
# d1.drop(labels=['year', 'month', 'day'], axis=1, inplace=True)
# d1

# 2.4 *Uniformity*

In [276]:
#Uniformity of data
# Getting rid of the whitespaces and any leading and trailing spaces in columns
d1.columns.str.strip()

Index(['Address', 'Bluecar counter', 'Utilib counter', 'Utilib 1.4 counter',
       'City', 'Geo point', 'Postal code', 'Public name', 'Rental status',
       'Slots', 'Station type', 'Status', 'Subscription status', 'year',
       'month', 'day', 'hour', 'minute'],
      dtype='object')

In [277]:
# Rename Bluecar counter to Bluecar, Utilib counter to Utilib, Utilib 1.4 counter to Utilib 1.4
d2 = d1.rename(columns={'Bluecar counter' : 'Bluecar', 'Utilib counter': 'Utilib', 'Utilib 1.4 counter': 'Utilib1'})
d2.head()

                              Address  Bluecar  Utilib  ...  day hour minute
0                 2 Avenue de Suffren        0       0  ...    8   11     43
1           145 Rue Raymond Losserand        6       0  ...    6    7     24
2    2 Avenue John Fitzgerald Kennedy        3       0  ...    3   20     14
3          51 Rue EugÃÂ¨ne OudinÃÂ©        3       1  ...    4    4     37
4  6 avenue de la Porte de Champerret        3       0  ...    8   17     23

[5 rows x 18 columns]

# 3.0  Data Analysis

In [278]:
# To answer the research questions
# Research Q1 : Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
Bluecar_pop_hour = d2.hour[(d2['City'] == 'Paris') & (d2['month'] == 4) & (d2['year'] == 2018) & (d2['Rental status'] == 'operational') & (d2.Bluecar)].mode()
Bluecar_pop_hour
# The 12th hour is the moat popular hour to pick Bluecar in Paris

0    12
dtype: int64

In [279]:
# Research Q2:What is the most popular hour for returning cars?
pop_return_hour = d2.hour[d2['Slots']].mode()
pop_return_hour
# The 11th hour is the most popular hour for returning cars

0    11
dtype: int64

In [280]:
# Research Q3: What station is the most popular?
# Overall?
pop_station = d2['Public name'].value_counts()[:1].index.tolist()
pop_station
# Paris/Porte de Montrouge/8 is the most popular station

['Paris/Porte de Montrouge/8']

In [281]:
# At the most popular picking hour?
pop_station_hour = d2.hour[(d2['Public name'] == 'Paris/Porte de Montrouge/8') & (d2['Rental status'] == 'operational')].mode()
pop_station_hour
# The 19th hour is most popular picking  hour at Paris/Porte de Montrouge/8

0    19
dtype: int64

In [282]:
# Research Q4:What postal code is the most popular for picking up Blue cars? # Does the most popular station belong to that postal code?
# Overall?
Bluecar_pop_postcode =d2[(d2['Postal code'].value_counts()[:1].index.tolist()) & (d2['Rental status'] == 'operational') & (d2.Bluecar)].head(1)
print(Bluecar_pop_postcode)
# The most popular postal code is 93350
# Does the most popular station belong to that postal code? 
pop_station = d2[['Public name', 'Postal code']].value_counts()[:1].index.tolist()
print(pop_station)
# The most popular station does not belong to that postal code

                            Address  Bluecar  Utilib  ...  day hour minute
2  2 Avenue John Fitzgerald Kennedy        3       0  ...    3   20     14

[1 rows x 18 columns]
[('Paris/Porte de Montrouge/8', 75014)]

In [283]:
# At the most popular picking hour?
pop_postcode_hour = d2.hour[(d2['Postal code'] == 93350) & (d2['Rental status'] == 'operational')].mode()
pop_postcode_hour
# The 6th hour is the most popular picking hour in that postal code

0    6
dtype: int64

In [284]:
# Research Q5: Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
# When we consider Utitib
Utilib_pop_hour = d2.hour[(d2['City'] == 'Paris') & (d2['month'] == 4) & (d2['year'] == 2018) & (d2['Rental status'] == 'operational') & (d2.Utilib)].mode()
print(Utilib_pop_hour)

# When we consider Utilib 1.4 for example in Paris
Utilib1_pop_hour = d2.hour[(d2['City'] == 'Paris') & (d2['month'] == 4) & (d2['year'] == 2018) & (d2['Rental status'] == 'operational') & (d2.Utilib1)].mode()
print(Utilib1_pop_hour)
# # There's a clear and significant change in popular hours for picking up the Utilib cars in the stations

0    6
dtype: int64
0    9
dtype: int64